nav {
    background-color: rgb(241, 215, 130);
    color: black;
    height: 65px;
    font-weight: 600;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}